    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    html {
        overflow-x: hidden;
    }
    /*Typography starts here*/
    .regular-text {
        font-size: 16px;
    }
    .text-sm {
        font-size: 14px;
    }
    .text-md {
        font-size: 20px;
    }
    .text-lg {
        font-size: 25px;
        font-weight: 600;
    }
    /*Typography ends here*/
    
    /*nav starts here*/
    
    .nav-bar ul li {
        font-size: 20px;
        padding: 0.8em 0;
    }
    .nav-bar ul{
        margin: 0;
    }
    .nav-bar{
        padding: 2em;
    }
    
    .main-nav {
        list-style-type: none;
    }
    
    .nav-links {
        text-decoration: none;
        color: white;
    }
    
    .main-nav li {
    text-align: left;
    padding: 1em 0.5em
    }
    
    .navbar-toggle {
        position: absolute;
        top: 10px;
        left: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
    }
    
    .main-nav {
        list-style-type: none;
        display: none;
    }
    
    /*nav ends here*/
    .mystyle {
        display: block;
    }
    .container {
        max-width: 100%;
        margin: 0;
    }
    
    .top-header {
        background: url("https://tinyurl.com/y24tua9s");
        color: white;
        
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo-area{
        padding-top: 15em;
        padding-bottom: 2em;
        text-align: center;  
    }
    
    .top-header img {
        width: 20%;
        margin: 0 auto;
    }
    
    .card-container {
        display: flex;
    }
    
    .card-container p {
        display: flex;
        color: white;
        line-height: 2em;
        justify-content: center;
        padding: 3em;
    
    }
    
    .card-box {
        background: rgb(240, 88, 33);
        width: 25%;
        text-align: center;
        height: 12em;
    }
    
    .card-img-1 {
        background: url('https://tinyurl.com/y3cnr8y6');
        width: 25%;
        background-position: center;
        background-size: cover;
        height: 12em;
    
    }
    
    .card-img-2 {
        background: url('https://tinyurl.com/yxeprk8z');
        width: 25%;
        background-position: center;
        background-size: cover;
        height: 12em;
    
    }
    
    .card-img-3 {
        background: url('https://tinyurl.com/y4oqxun5');
        width: 25%;
        background-position: center;
        background-size: cover;
        height: 12em;
    }
    
    .fast-food-container, .drink-container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .left-container {
        box-shadow: 0 0 .25em .25em rgba(0, 0, 0, 0.25);     
        margin: 2em 0;
        background: url('https://tinyurl.com/yxkgndw8');
        width: 50%;
        height: 25em;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
    }
    
    .right-container {
        width: 50%;
        padding: 1em 2em;
    }
    
    .left-drink-container {
        margin: 2em 0;
        width: 50%;
        padding-right: 1em ;
    }
    
    .right-drink-container {
        width: 50%;
        height: 15em;
        background:url('https://res.cloudinary.com/dvs0nutl6/image/upload/v1598307541/lunch_mvubwk.jpg');
        background-size: cover;
        box-shadow: 0 0 .25em .25em rgba(0, 0, 0, 0.25);
    }
    .btn {
        width: 40%;
        border: 1px solid;
        color: rgb(240, 88, 33);
        background: white;
        margin: 2em 0;
        padding: 1em;
    }
    
    .btn a {
        text-decoration: none;
        color: rgb(240, 88, 33);
    }
    .btn:hover{
        background: rgb(241, 135, 96);
        transition: ease-out 3s;
        border: none;
        box-shadow: 0 0 .25em .25em rgba(0, 0, 0, 0.25);
    
    }
    .btn a:hover{
        color: white;
        font-weight: 600;
    }
    
    .my-container {
        background: url('https://res.cloudinary.com/dvs0nutl6/image/upload/v1598307545/foodsBg_dcfuwf.jpg');
        width: 100%;
        padding: 4em 0;
        box-sizing: border-box;
    }
    
    .inner-container {
        margin: 0 auto;
        width: 90%;
        background: white;
    }
    
    .img-container {
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .img-container{
        display:none;
    }
    .img-1, .img-2, .img-3,.img-4,.img-5,.img-6,.img-7 {
        object-fit: cover;
        background-repeat: no-repeat;
    }
    .img-container img{
        height: 15em;
    }
    .nav-bg{
        background: #D3D3D3;
    }
    .nav-container{
        width: 80%;
        margin: 0 auto;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 1em;
    }
    .nav-content{
        background: rgb(240, 88, 33);
    }
    .navbar a {
        color: #f2f2f2;
        padding: 1em;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
    }
    .navbar a:hover {
        background: white;
        color: black;
    }
    
    .navbar a:active {
        color: white;
        margin: 0;
    }

  .prev:hover, .next:hover {
    background-color: grey ;
    color:white; 
    cursor: pointer;
  }
  .customer{
      padding: 10em;
  }
  
  .customer img{
      width: 10em;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

 .about-container {
     width: 80%;
     display: flex;
     margin: 3em auto;
     background:white;
     color: black;
     padding: 3em;
     box-shadow: 0 0 .25em .25em rgba(240, 238, 238, 0.25);
     border: none;
 }
    .about-container:hover{
        transition:all .3s ease;
        box-shadow: 0 0 .25em .25em rgba(0, 0, 0, 0.25);
    }

    .about-container .text-lg {
        color: rgb(226, 82, 30);
    }


    .right-about-container {
        width: 25%;
    }

    .left-about-container {
        width: 75%;
    }
    .subscribe{
       text-align: center;
       color:white;
       background-image: url('https://res.cloudinary.com/dvs0nutl6/image/upload/v1598307547/subscribe_cysw3c.jpg');
       padding-top: 2em;
       padding-bottom: 3em;
     }
  .input-style{
      background: rgba(231, 226, 226, 0.25);
      font-size: 20px;
      font-weight: 600;
      width: 12em;
      padding: 0.3em 0;
      color: black;
  }
  .subscribe .btn{
      padding: 0.5em 0;
      width: 10em;
      font-size: 20px;
      font-weight: 500;
      color: white;
      margin: 0 2em;
      border: none;
      background: rgb(240, 88, 33);
  }
  .subscribe .text-md{
      font-weight: 600;
  }
  footer{
    background:rgb(240, 88, 33);
    color: white;
    display: flex;
    flex-direction: column;
  }
  .footer-container{
    margin: 0 auto;
     width: 20%;
    padding: 2em 4em;
  }
  .facebook, .twitter, .pinterest{
    width: 1.3em;
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .card-box, .card-img-1, .card-img-2, .card-img-3{
        width: 100%;
    }
    .right-container, .left-drink-container, .right-about-container{
        min-width: 100%;
    }
    .left-container {
        display: flex;
        flex-direction: column;
        background-size: cover;
        width: 100%;
    }
    .fast-food-container{
        display: flex;
        flex-direction: column;
        padding: 0 1em ;
    }
    .drink-container {
        display: flex;
        flex-direction: column;
        padding: 0 1em ;

    }
    .right-drink-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3em;
    }
    .img-1, .img-2, .img-3, .img-4, .img-5,.img-6.img-7{
        height: 12em;
    }
    .img-container img{
        height: 8em;
    }
    .navbar a{
        padding: 0.5em ;
        line-height: 1em;
        font-size: 14px;
        text-align: left;
    }
    .customer{
        padding: 2.5em;
        text-align: center;
    }
    .img-container{
        padding: 3em 0;
        line-height: 1em;
    }
    .about-container{
        display: flex;
        flex-direction: column;
        box-shadow: none;
    }
    .about-container:hover{
        box-shadow: none;
    }
    .subscribe{
        padding: 2em;
    }
    .input-style{
        margin: 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.right-container p .left-container {
    padding: 0;
    height: 15em;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}