* {
    box-sizing: border-box;
}

body {
    background: orangered;
    color: whitesmoke;
}

.header {
    text-align: center;
}

.img-container {
    box-sizing: border-box;
}

body {
    background: white;
    color: rgb(240, 88, 33);
}

.header {
    text-align: center;
}
p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.img-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
}

.Robiat, .Mary, .princess {
    object-fit: center;
    margin: 0 auto;
}